VITE_API_BASE_URL=
VITE_COGNITO_REGION=us-west-2
VITE_COGNITO_USER_POOL_ID=<your-cognito-user-pool-id>
VITE_COGNITO_CLIENT_ID=<your-cognito-client-id>
VITE_COGNITO_DOMAIN=<your-cognito-domain>.auth.<region>.amazoncognito.com
VITE_COGNITO_REDIRECT_URI=https://<your-ip-or-domain>/auth/callback
